* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile Styling */
@media screen and (max-width: 470px) {
    .intro {
        font-size: 30px;
    }
}

header {
    display: flex;
    height: auto;
    background-color: #b0b0b0;
}

nav {
    display: flex;
    justify-content: space-between;

    position: fixed;
    bottom: 0;

    overflow: hidden;

    background-color: #484848;
    width: 100%;
    height: auto;

    padding: 10px 20px 10px 20px;
}

nav > a {
    color: white;
    font-size: 60px;
    text-decoration: none;
}

nav a:hover {
    color: orange;
}

nav > a:visited {
    color: white;
}

nav > h3 {
    display: none;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.intro {
    width: 100%;
    background-color: #a8a8a8;
}

.project-listing {
    
}

.project {
    width: 100%;
}

.jujakide {
    background-color: grey;
}