/* Colors
#76b9ff
#c9f
#fea
#3c3c3c
#f0f0f0
#dfddff
*/

/* Default // Mobile Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
}


body {
    font-size: 1em;
    font-family: "Fira Sans", "Roboto", sans-serif;
    color: #292929;
    line-height: 1.35;
    
    counter-reset: index;
    /* Fix widows + orphans?; leave off unless you want to include JS (maybe later tho) */

    background-color: #66a9d5;
    /* background-color: rgba(108, 175, 219, 0.8); */
}

.logo {
    display: none;
}



p,
a,
img,
figure,
li, 
.below-link,
figure, 
ul,
main, 
article, 
section,
.brief,
.connect {
    margin-bottom: 1.35em;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 0.5em;
}

/* Default: 2em */
/* h1 {
    line-height: 2;
}

/* Default: 1.5em */
/* h2 {
    line-height: 1.5;
} */

/* Default: 1.17em */
/* h3 {
    line-height: 1.17;
} */

/* Default: 1.12em */
/* h4 {
    line-height: 1.12;
} */

header {
    display: flex;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;

    position: fixed;
    overflow: hidden;

    width: 100%;
    height: auto;

    background-color: #0b1b70;

    padding: 1.5vw 3vw;
    /* padding: 10px 20px; */
}

/* li.nav-link.logo > h3 {
    line-height: 1.17em;
} */


p {
    font-weight: 100;
}

h4 {
    font-weight: 700;
}

b {
    font-weight: 600;
}


ul.projects {
    display: none;
}


a, a:visited {
    color: #ffffd0;

    text-decoration: none;
}

a:hover {
    /* color: #aeaef9; */
    /* color: #dfc9ff; */
    color:rgba(235, 220, 31, 1);
}


.page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    width: 85vw;
    margin: 0 auto;
}

li {
    list-style: none;
}

.below-link {
    margin-top: 1em;
}
 
figure, 
ul {
    flex-wrap: wrap;
}


main, 
article, 
section {
    flex-wrap: wrap;
}

/* For numbering */
.hierarchy::before {
    counter-increment: index;
    content: counter(index) ". ";
    font-size: 0.8em;

    font-family: "Open Sans", sans-serif;
}


figure {
    margin: 1.5vw 0;
}

img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 1em;
}

/* imageZoom-related CSS 
   code from: code-boxx.com/image-zoom-css-javascript/
*/
.zoom {
    cursor: pointer;
}

#picBox {
    display: flex;
    justify-content: center;
    align-items: center;

    

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: rgba(0, 0, 0, 0.5);

    z-index: 999;

    visibility: hidden;
    opacity: 0;

    transition: all 0.4s;
}

#picBox.show {
    visibility: visible;
    opacity: 1;
    overflow: scroll;
}

#picBox-img {
    text-align: center;
    /* height: 50vh; */
    height: 50vh;
}

figcaption {
    padding: 0.5em 1em 0.4em 1em;

    color: #cfcfcf;
    
    background-color: #0b1b70;

    border-radius: 0.7em;
}

figcaption a {
    margin-bottom: 0;
}


.demo {
    display: block;
}


footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
    color: #404040;
    /* margin: 0 auto; */
    margin-top: 1vw;
}


/* Nav Styles */

.nav-link {
    font-size: 1em;

    margin-bottom: 0;
    padding: 0.5em;
    list-style: none;
}

li.nav-link,
nav li,
li.nav-link h3 {
    margin-bottom: 0;
}

li.nav-link a.active {
    /* color: #dfc9ff; */
    color:rgba(235, 220, 31, 0.6);
}


/* About Styles */

.contact-links {
    text-align: center;

    padding: 0.5em 0 0.4em 1em;
    
    background-color: #0b1b70;

    border-radius: 0.7em;
}

.contact-links li {
    margin-bottom: 0.7em;
}


/* Very Mobile Specific Styling */
@media screen and (max-width: 426px) {
    nav {
        bottom: 0;
    }

    /* .final { */
    footer, 
    .final {
        margin-bottom: 5em;
    }

    .page-top {
        margin-top: 1em;
    }
}


/* General Styling Tablet and Up */
@media screen and (min-width: 426px) {    
    .logo {
        display: inline;
    }

    /* .final { */
    footer, 
    .final {
        margin-bottom: 3vw;
    }

    #picBox-img {
        max-width: auto;
        max-height: 100%;
        
        /* max-width: 60vw; */
        /* max-height: 30vw; */
    }
}

/* Tablet Styling */
@media screen and (min-width: 426px) and (max-width: 769px) {
    .page {
        width: 65vw;
    }

    .page-top {
        margin-top: 3em;
    }
}


/* General Styling Laptop (Regular) and Up */
@media screen and (min-width: 770px) { 
    .logo {
        display: inline;
    }

    .page-top {
        margin-top: 1em;
    }

    nav {
        height: 100%;
        
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;

        overflow-x: hidden;

        flex-direction: column;
        justify-content: flex-start;
    }

    /* .final { */
    footer, 
    .final {
        margin-bottom: 3vw;
    }

    /* #picBox-img {
        max-width: auto;
        max-height: 40vw;
    } */


    .drop {
        color: #ffffd0;
    }

    ul.projects {
        display: none;
        position: fixed;
        z-index: 1;

        background-color: #0b1b70;

        margin-left: -0.6em;
    }

    .drop a {
        display: block;
    }

    .drop-base {
        margin-bottom: 0;
    }

    .drop ul.projects {
        padding: 0.5em;
        border-radius: 0.7em;
    }

    ul.projects li {
        border-bottom: 0.1em solid #ffffd0;

        margin-top: 1em;
    }

    ul.projects li:first-of-type {
        margin-top: 0.5em;

        border-top: 0.1em solid #ffffd0;

        padding-top: 1em;
    }

    ul.projects li:last-of-type {
        border-bottom: none;
    }

    ul.projects li a.active {
        /* color: #dfc9ff; */
        color:rgba(235, 220, 31, 0.8);
        
    }

    .drop:hover ul.projects {
        display: block;
    }
}

/* Laptop Styling */
 @media screen and (min-width: 770px) and (max-width: 1024px) {
    nav {
        width: 20vw;

        padding-left: 4vw;
        padding-top: 4vw;
    }
    
    .page {
        width: 47vw;
        margin-left: 36vw;
    }
 }

 /* Laptop Large Styling */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    nav {
        width: 15vw;

        padding-left: 4vw;
        padding-top: 4vw;
    }

    .page {
        width: 35vw;
        margin-left: 40vw;
    }
}


/* 4K Styling */
@media screen and (min-width: 1441px) 
/* and (max-width: 1535px)  */
{
    nav {
        width: 15vw;

        padding-left: 4vw;
        padding-top: 4vw;
    }

    .page {
        width: 33vw;
        margin-left: 35vw;
    }
}